# ASR core
sherpa-onnx
numpy
gguf
onnxruntime-directml; platform_system == "Windows"
mlx-qwen3-asr @ file:./mlx-qwen3-asr ; platform_system == "Darwin"

# basic
rich
websockets
watchdog
pypinyin

# tray and image
pystray
Pillow

markdown
tkhtmlview
